@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: font-family: 'Montserrat', sans-serif;
	background: url("ocean.jpg");
	position: center;
	height: 100vh;
	color: white;
}

.tw {
	max-width: 40vh;
	max-height: 80vh;
	margin-left: 38%;
	margin-top: 150px;
	position: absolute;
	z-index: -3;
	opacity: 70%;
}

.box {
	max-width: 75vh;
	max-height: 60vh;
	margin-top: 190px;
	margin-left: 29%;
	position: absolute;
	z-index: -10;
}

p {
	font-family: 'Montserrat', sans-serif;
	padding-top: 280px;
	text-align: center;
	font-size: 20px;
	letter-spacing: 8px;
	font-weight: bolder;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

header {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 60px;
}

.counters .container {
	text-align: center;
  margin-top: 50px;
}


.counters .counter {
	font-size: 60px;
	margin: 10px 0;
}

